body.dark-mode {
  background-color: $dark-mode;

  .active {
    background-color: $dark-secondary;
  }

  .title {
    color: $main-bg-color;
  }

  input,
  textarea {
    box-shadow: none !important;
    color: $main-bg-color !important;
    border-color: $dark-secondary;
    background-color: $dark-secondary !important;
    &::-webkit-scrollbar-track {
      background-color: $dark-secondary !important;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $dark-mode !important;
    }
  }

  #loader {
    background-color: $dark-mode;
  }

  #logPage {
    .login-left {
      background-color: $dark-mode;
    }
    .login-right {
      background-image: none;
      background-color: $dark-secondary;
    }
  }

  #dashboard {
    color: $main-bg-color;
  }

  #user-settings {
    background-color: $dark-mode;
  }

  .chat-list {
    li:hover a {
      background-color: $dark-secondary;
    }

    a {
      color: $main-bg-color;
    }

    .new-messages {
      color: $dark-mode;
    }
  }

  .chat-board, #welcomeBoard {
    background-color: $dark-secondary;
  }

  #receiver {
    background-color: $dark-mode;
  }

  .messages {
    .message-box,
    .message-box-right,
    .message-box-left {
      background-color: $dark-mode;
      button {
        color: $dark-secondary;
      }
      .m-0, .message-time {
        color: $badge-gray;
      }
    }
  }

  .messages::-webkit-scrollbar-track {
    background-color: $dark-secondary;
  }
  .messages::-webkit-scrollbar-thumb {
    background-color: $dark-mode;
  }

  .message-send-area {
    background-color: $dark-mode;
  }
}
