$main-bg-color: #F3F0F5;
$secondary-bg-color: #DCD8E3;
$secondary-color: #E7798A;
$main-text-color: #1b1488;
$primary-btn-color: #1b1488;
$dark-mode: #211E2B;
$dark-secondary: #17151F;
$badge-gray: gray;
$icon-color: #5CBDEA;
$main-gradient: linear-gradient(to left bottom, #00b4d8, #1ab8da, #28bcdc, #33c0df, #3dc4e1, #49c8e3, #54cce5, #5ed0e7, #6cd4e9, #79d8eb, #85dced, #90e0ef);